@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #1b2838;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.buscar,
.buscar::placeholder {
  background-color: #2a475e;
  color: #9d9d9d;
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background: linear-gradient(to bottom, #19587b, #2b87ae);
}

.promoCard:hover {
  transform: scale(1.03);
}

.gameCard {
  transition: transform 0.2s;
  background: linear-gradient(to top, #1f6388, #2b87ae);
  display: flex;
  align-items: center;
  margin: 0; /* Removed horizontal centering */
}

.gameCard:hover {
  transform: scale(1.03);
}

.card-text  {
  color: #adadad;
}

.btn {
  background-color: #4c6b22;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gameCard img {
  width: 305px;
  height: 145px;
  object-fit: cover;
  border-top-left-radius: 5px; /* Rounded top-left corner */
  border-bottom-left-radius: 5px; /* Rounded bottom-left corner */
}

.desconto {
  background-color: #4c6b22;
  color: #beeb14;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #547625;
}

#addCarrinho:disabled {
  background-color: #4c6b22;
}

input.form-control:focus {
  box-shadow: none;
}
